.form-control::placeholder {
  opacity: 60%!important;
  color: white!important;
}

.footer-prompt {
  color: rgb(216, 216, 216)
}

.signin-up:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-control {
  color: white!important;
}